body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background {
  margin: 0;
  background-image: url('../media/Background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#content {
  margin-right: 50px;
  margin-left: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
}

#headline-container {
  margin-top: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: #c80d0d;
  border-radius: 40px;
  background-color: rgba(51, 51, 51, 0.65);
  padding: 5px;
  color: white;
}

#info-container {
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #c80d0d;
  border-radius: 40px;
  background-color: rgba(51, 51, 51, 0.65);
  padding: 25px;
  color: white;
}

#info-text {
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
  text-align: center;
}

#info-text a {
  color: white;
  text-decoration: underline;
}