#content {
  text-align: left;
}

#social-media-links-container {
  float: left;
  margin-top: 5%;
  margin-top: 50px;
  margin-right: 7%;
  border-width: 2px;
  border-style: solid;
  border-color: #c80d0d;
  border-radius: 40px;
  background-color: rgba(51, 51, 51, 0.65);
  padding: 5px;
  padding-right: 100px;
  width: fit-content;
  color: white;
  text-align: center;
}

#social-media-links-container a {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  color: white;
  font-size: 28px;
  text-decoration: none;
}

#social-media-links-container img {
  margin-right: 30px;
}

#links-and-flyer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

#flyer-imola {
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #c80d0d;
  border-radius: 20px;
}
