#content {
    text-align: left;
   
}

#social-media-links-container {
    background-color: rgba(51, 51, 51, 0.65);
    border-radius: 40px;
    padding: 5px;
    margin-top: 5%;
    color: white;
    border-color: #c80d0d;
    border-style: solid;
    border-width: 2px;
    margin-top: 50px;
    margin-right: 7%;
    width: fit-content;
    text-align: center;
    padding-right: 100px;
    float: left;
}

#social-media-links-container a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 28px;
}

#social-media-links-container img {
    margin-right: 30px;
}

#links-and-flyer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

#flyer-imola {
    margin-top: 50px;
    border-color: #c80d0d;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}