.links-to-other-pages {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

#logo {
  margin-top: 5px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
}

nav {
  width: 100%;
  color: #fff;
  font-size: 24px;
}

nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  flex: 1;
}

nav ul li a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  white-space: nowrap;
}

nav ul li a:hover {
  color: #ccc;
}

@media screen and (min-width: 600px) {
  nav {
    margin-left: 20px;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
}