#content {
  padding-bottom: 150px;
  text-align: center;
}

#video {
  height: auto;
  aspect-ratio: 16/9;
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #c80d0d;
  border-radius: 5px;
}